<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ thread.name }}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content #scoll>
  <ion-list no-lines>
    <div *ngFor="let message of messages">
        <ion-card>
      <ion-item *ngIf="me(message)">
          <ion-note item-start>{{message.sentAt | date:'HH:mm:ss'| lowercase}}</ion-note>
          <h2 item-content>{{ message.text.content }} </h2> 
          <ion-avatar  item-end>
              <img [src]="uInfoMap[message.senderId].avatar()">
          </ion-avatar>  
      </ion-item> 
      <ion-item *ngIf="!me(message)">
          <ion-avatar  item-start>
              <img [src]="uInfoMap[message.senderId].avatar()">
          </ion-avatar>
          <p> {{ (uInfoMap[message.senderId])?.name() }} </p>
          <h2 item-text-wrap>{{ message.text.content }} </h2>    
          <ion-note item-end>{{message.sentAt | date:'HH:mm:ss'| lowercase}}</ion-note>
      </ion-item>
    </ion-card>
    </div>

        <!-- <ion-card-content>
          <p>{{ message.text.content }}</p>
        </ion-card-content> -->
    
  </ion-list>



</ion-content>
<ion-footer>
  <ion-navbar>
  <ion-item>
    <ion-input [(ngModel)]="thread.draft" #textInput (keydown.enter)="sendTextMessage()"></ion-input>
  </ion-item>
  <ion-buttons end>
      <button ion-button (click)="sendTextMessage()" [disabled]="!thread.draft">
        发送
      </button>
    </ion-buttons>
</ion-navbar>
</ion-footer>
